<h2 class="f2 mt0">How to use as service</h2>
<p>
  Sometimes there is not need to get the full information of a place everytime a user types a word inside the input, that
  is why this service exists. This service interacts with the Google Place Autocomplete API and uses benefits like the usage of the <i>sessionToken</i>.

  The <i>sessionToken</i> is useful to reduce the cost of using the Google Places API. Official information about this topic is available <a href="https://developers.google.com/places/web-service/usage-and-billing#about-autocomplete-sessions" target="_blank" rel="noopener">here</a>
</p>
<p>
  If you want to know more about the Google Place Autocomplete service, read about it <a href="https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service" target="_blank" rel="noopener">here</a>
</p>
<h3 class="f3">Example</h3>
<p>
  The following example of service usage creates an input field that mimics the functionality of the input field
  provided by this addon. In order to have a better example, {{#code-inline}}ember-power-select{{/code-inline}} is used to
  have a better input text an get cross browser compatibility for free.
</p>
<p>
  For more information about {{#code-inline}}ember-power-select{{/code-inline}} go <a href="https://ember-power-select.com/docs" target="_blank" rel="noopener">here</a>.
</p>

<h3 class="f4">Result:</h3>
{{#power-select
  options=predictions
  onchange=(action "findPlaceDetails")
  selected=selectedPlace
  search=(action "requestPredictions")
  allowClear=true
  as |prediction|
}}

  {{prediction.description}}
{{/power-select}}
<p>
  <i class="dark-red f6">
    Autocompletion could stop working on this example, because it uses a GOOGLE API KEY with limited number of request per day
  </i>
</p>

{{#if placeServiceResultJSON}}
  <p>Google response</p>
  {{#code-block language="javascript"}}
    {{placeServiceResultJSON}}
  {{/code-block}}
{{/if}}

<h3 class="f4">Code:</h3>
{{examples/service-code-example}}

<h3 class="f3">Available functions</h3>
<table class="collapse w-100 ba br2 b--black-10 pv2 ph3 mt4">
  <tbody>
    <tr class="striped--near-white">
      <th class="pv3 ph3 tl">Function</th>
      <th class="pv3 ph3 tl">Return</th>
    </tr>
    <tr class="striped--near-white">
      <td class="pv3 ph3">getPlacePredictions</td>
      <td class="pv3 ph3">Promise</td>
    </tr>
    <tr class="striped--near-white">
      <td class="pv3 ph3">getQueryPredictions</td>
      <td class="pv3 ph3">Promise</td>
    </tr>
    <tr class="striped--near-white">
      <td class="pv3 ph3">getDetails</td>
      <td class="pv3 ph3">Promise</td>
    </tr>
    <tr class="striped--near-white">
      <td class="pv3 ph3">updateSessionToken</td>
      <td class="pv3 ph3">Void</td>
    </tr>
  </tbody>
</table>
