@import "config/colors";

.place-autocomplete{
  &--input{
    padding: 10px;
    border: solid 1px $gray;
    transition: box-shadow 0.3s, border 0.3s;
    max-width: 250px;
    width: 85%;
    margin: 5px auto 5px auto;
    &:focus{
      border: solid 1px $dark_gray;
      box-shadow: 0 0 5px 1px #969696;
    }
    &:disabled{
      background-color: #f2f2f2;
      border: solid 1px $dark_gray;
    }
  }
  &--label{
    margin: 2.5px 0;
    display: block;
  }
  &--details-container{
    border: 1px solid $dark_gray;
    padding: 25px;
    display: block;
    width: 300px;
    margin: 20px 0px;
    position: relative;
    &:before,
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-top: 0;
    }
    &:before{
      top: -16px;
      left: 21px;
      border-bottom-color: $dark_gray;
      border-width: 16px;
    }
    &:after{
      top: -15px;
      left: 22px;
      border-bottom-color: $white;
      border-width: 15px;
    }
  }
}