@import "ember-power-select";

.input-field-example{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
}

.nav-sidebar-item{
  a{
    &,
    &:active,
    &:link,
    &:focus,
    &:hover{
      transition: color 1s linear;
    }
  }
  &.current{
    a{
      &,
      &:hover,
      &:link,
      &:focus{
        font-weight: 700;
        color: #222;
      }
    }
  }
}

@keyframes fadein{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.fade-in-element{
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: infinite;
}
