<h2 class="f2 mt0">Test Mocks</h2>
<p>
  When writting acceptance tests for parts of an application that interact with
  {{#code-inline}}place-autocomplete-field{{/code-inline}} or the service, it will be needed to mock Google's Autocomplete.
</p>
<p>
  The before each function of your acceptance/integration test is a good place to do it.
</p>
<p>
  This addon provides a <a href="https://github.com/dmuneras/ember-place-autocomplete/blob/master/tests/helpers/google-place-autocomplete-response-mock.js" target="_blank" rel="noopener">mocked Google response</a>.
</p>
<p>
  The following example shows how to use the Mock with a Mocha as testing framework.
</p>

{{#code-block language="js"}}
  import { describe, it, beforeEach, afterEach, context } from 'mocha';
  import { expect } from 'chai';
  import destroyApp from './../helpers/destroy-app';
  import startApp from './../helpers/start-app';
  import GooglePlaceAutocompleteMockedObject from './../helpers/google-place-autocomplete-object';

  describe('Acceptance | place autocomplete', function() {
    let application;

    beforeEach(function() {
      application = startApp();
      // Mock only google places
      window.google.maps.__gjsload__ = function() {
        return true;
      };
      window.google.maps.places.Autocomplete = GooglePlaceAutocompleteMockedObject;
    });

    ...
  });
{{/code-block}}
