<h2 class="f2 mt0">Test Mocks</h2>
<p>
  When writting acceptance tests for parts of an application that interact with
  {{#code-inline}}place-autocomplete-field{{/code-inline}} or the service, it will be needed to mock Google's Autocomplete.
</p>
<p>
  The before each function of your acceptance/integration test is a good place to do it.
</p>
<p>
  This addon provides a
  <a
    href="https://github.com/dmuneras/ember-place-autocomplete/blob/master/addon-test-support/google-place-autocomplete-response-mock.js"
    target="_blank"
    rel="noopener"
  >
    mocked Google response
  </a>.
</p>
<p>
  The following example shows how to use the Mock with a Mocha as testing framework.
</p>

{{#docs-demo as |demo|}}
  {{demo.snippet "tests-example.js" label="primary"}}
{{/docs-demo}}
