<header class="sans-serif">
  <div class="cover bg-left bg-center-l">
    <div class="bg-black-80 pb4">
      <div class="tc-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb0 mt0 pt4 lh-title">Ember place autocomplete</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4">
          Wrapper for Google Places API
        </h2>
      </div>
    </div>
  </div>
</header>
<div class="sans-serif flex flex-row items-flex-start">
  <div class="w-20 pa4">
    <nav class="dt w-100 mw8 center">
      <div class="flex flex-column">
        <div class="w-100 pa2">
          {{#link-to 'about' class="fw5 no-underline link dim gray f5 dib"}}
            About
          {{/link-to}}
        </div>
        <div class="w-100 pa2">
          {{#link-to 'installation' class="fw5 no-underline link dim gray f5 dib"}}
            Installation
          {{/link-to}}
        </div>
        <div class="w-100 pa2">
          {{#link-to 'configuration' class="fw5 no-underline link dim gray f5 dib"}}
            Configuration options
          {{/link-to}}
        </div>
        <div class="w-100 pa2">
          {{#link-to 'usage.component' class="fw5 no-underline link dim gray f5 dib"}}
            How to use component
          {{/link-to}}
        </div>
        <div class="w-100 pa2">
          {{#link-to 'usage.service' class="fw5 no-underline link dim gray f5 dib"}}
            How to use service
          {{/link-to}}
        </div>
      </div>
    </nav>
  </div>
  <div class="w-80 mw8 pa4">
    {{outlet}}
  </div>
</div>
