{{docs-header}}
<article>
  {{outlet}}
</article>

<footer class="py-20 px-10 grid grid-cols-2 border-t-2 border-solid">
  <div>
    <p>Made with love by</p>
    <a
      href="https://github.com/dmuneras"
      target="_blank"
      rel="noopener"
    >
      @dmuneras
    </a>,
    <a
      href="https://github.com/esbanarango"
      target="_blank"
      rel="noopener"
    >
      @esbanarango
    </a>
    and many others
    <a
      href="https://github.com/dmuneras/ember-place-autocomplete/graphs/contributors"
      target="_blank"
      rel="noopener"
    >
      great people
    </a>
  </div>
  <div class="text-right">
    <a href="https://github.com/dmuneras/ember-place-autocomplete" title="Github repo" target="_blank" rel="noopener">
      Github repository
    </a>
    <a href="https://www.npmjs.com/package/ember-place-autocomplete" title="NPM page" target="_blank" rel="noopener">
      NPM page
    </a>
  </div>
</footer>
