<p id="message">Message: {{message}}</p>
<div class="test-place-autocomplete-container">
  {{place-autocomplete-field
    value= model.address
    handlerController= this
    inputClass= 'place-autocomplete--input'
    focusOutCallback="done"
    placeChangedCallback="placeChanged"
  }}
</div>
<pre style="font-size: 6px;">
  {{placeJSON}}
</pre>
{{outlet}}


