<h2 id="title">Welcome to Ember.js - Place Autocomplete Dummy Test</h2>
<p id="message">Message: {{message}}</p>
<div class="test-place-autocomplete-container">
  {{place-autocomplete-field
    value= model.address
    label= "Model Address"
    error= model.errors.address
    showErrors= true
    contr= this
    containerClass= 'place-autocomplete--container'
    labelClass= 'place-autocomplete--label'
    errorClass= 'place-autocomplete--error'
    inputClass= 'place-autocomplete--input'
    focusOutCallback="done"
    placeChangedCallback="placeChanged"
  }}
</div>
<pre>
  {{placeJSON}}
</pre>
{{outlet}}


