<h2 class="f2 mt0">Configuration</h2>

<h3 class="f3">Options</h3>
<p>
  The following information is to add additional configurations, like adding a Google API Key or Client ID.
</p>
<p>
  In order to supply a Google API key or client ID, or choose to exclude the Google API, etc. Add the supported configuration instructions in the {{#code-inline}} config/environment.js {{/code-inline}} as the following example shows.
</p>
{{#code-block language="js"}}
  ...

  ENV['place-autocomplete'] = {
    exclude: true,
    key: 'AIZ...',
    client: 'gme-myclientid',
    version: 3.27, // Optional - if client is set version must be above 3.24
    language: 'en', // Optional - be default will be based on your browser language
    region: 'GB' // Optional
  };

  ...
{{/code-block}}

<h3 class="f3">Content Security Policy</h3>
<p>
  When using {{#code-inline}}ember-cli-content-security-policy{{/code-inline}}, it is required to add google maps to
  the application allowed sources
</p>
{{#code-block language="javascript"}}
  contentSecurityPolicy: {
    'default-src': "'none'",
    'script-src': "'self' 'unsafe-eval' *.googleapis.com maps.gstatic.com",
    'font-src': "'self' fonts.gstatic.com",
    'connect-src': "'self' maps.gstatic.com",
    'img-src': "'self' *.googleapis.com maps.gstatic.com csi.gstatic.com data:",
    'style-src': "'self' 'unsafe-inline' fonts.googleapis.com maps.gstatic.com assets-cdn.github.com"
  },
{{/code-block}}
