{{docs-hero}}
<section class="container mx-auto">
  <h2 class="text-lg py-6 text-5xl">About</h2>
  <div class="flex pb-6 pt-0 pr-0 pl-0">
    <img class="px-2 pl-0" alt="badge" src="https://img.shields.io/npm/dt/ember-place-autocomplete.svg">
    <img class="px-2" alt="badge" src="https://travis-ci.org/dmuneras/ember-place-autocomplete.svg?branch=master">
    <a href="https://emberobserver.com/addons/ember-place-autocomplete" target="_blank" rel="noopener">
      <img class="px-2" alt="badge" src="http://emberobserver.com/badges/ember-place-autocomplete.svg">
    </a>
    <a href="https://www.npmjs.com/package/ember-place-autocomplete" target="_blank" rel="noopener">
      <img class="px-2 pr-0" alt="badge" src="https://badge.fury.io/js/ember-place-autocomplete.svg">
    </a>
  </div>
  <p class="mt4">
    Ember addon that provides a component which uses Google Places API to autocomplete place information when someone writes an address in a text field.
  </p>
  <p>
    It gives you all the information of a place from Google. You can do whatever you want with that information using a callback function or using the service functions.
  </p>
  <img alt="example" src="http://i.imgur.com/wzGgfiY.gif">
</section>
