<h2 class="f2 mt0">Installation</h2>
<p>
  Go to the Ember project directory in the console and run the following command. It will add the addon to the
  {{#code-inline}}package.json{{/code-inline}} dependencies.
</p>
<p>
  {{#code-inline}}ember install ember-place-autocomplete{{/code-inline}}
</p>
